@model AccidentDataStorage.Models.Accidents.Accidents

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Accidents</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionField)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionField)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentLocationPref)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentLocationPref)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentBackground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentBackground)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentCause)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentCause)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentCountermeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentCountermeasure)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AccidentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
